p {
  text-align: justify;
  text-justify: inter-ideograph;
}

.katex {
  font-size: 1rem !important;
}

.MuiTableCell-root {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.rv-xy-plot__grid-lines__line {
  stroke: gray;
  stroke-width: 1;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.3rem;
}

table:not([class='MuiTable-root']) {
  font-size: 12px;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}

td:not([class='MuiTable-root']),
th:not([class='MuiTable-root']) {
  padding: 0.5rem;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-top: 1px solid rgba(224, 224, 224, 1);
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

th:not([class='MuiTable-root']) {
  background-color: #cccccc;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
